.news{background-color:#fff;width:94%;margin:4% auto;border-radius:6px;-webkit-border-radius: 6px;-moz-border-radius: 6px;}
.news dl{width:94%;margin:0 auto;padding:4% 0 2%;}
.news dt{line-height:24px;}
.news dt{font-size:1.6rem;color:#333;font-weight:normal;}
.news dd{font-size:1.2rem;color:#999;}
.news dd a{color:#333;}
.news dd a{display:inline-block; width:100%;border-top:1px solid #F2F1F1;padding:2%;
    background:url('../images/leftarrow.png') 99% 50% no-repeat;background-size:2.2%;}
.news dd img{margin:1% auto 3%;}
.news-circle{font-size:2rem;}
.news-hot{float:right;width:14%;height:100%;background:url('../images/hot_01.png') 100% 20% no-repeat;background-size:60%;}