button:focus { outline: none; }
.rulehead h1 {
    position:relative;
    background:#F64840;
    padding: 2.5%;
    text-align: center;
    font-size: 1.8rem !important;
    color: #fff; 
    vertical-align: middle;
}
.rulehead h1 span{
    position:absolute;
    display: inline-block;
    right:3%;
    top:40%;
    font-size:1.2rem;
}

.login-user{ margin-top:12px;}
.login{
    width:80%;
    margin:1rem auto;
    height:4rem;
    line-height:4rem; 
    font-size:1.6rem;
    clear:both;
      	background-color:#fff;
    border:1px solid #f01a4c;
    border-radius:10rem;
}
.login font{float:left;margin-left:2rem;color:#999;}

#clubRegister .login{
    background-color:inherit;
    width:100%;
    font-size:1.6rem;
    height:4rem;

}
.login #vc{
	background-color:#fff;
    border:1px solid #f01a4c;
    border-radius:10rem;
}
.login span{color:#333;}
.login span.vcode{
	float:right;
	width:42%;
	background-color:#fff;
    border:1px solid #f01a4c;
    border-radius:10rem;
    text-align:center;
}
.login input[type="text"],.login input[type="password"],.login-user input[type="text"]{
    padding-left: 2rem;
    font-size: 1.6rem;
    padding-right: 2rem;
    color: #f01a4c;
    width: 60%;
    margin: 0;
   /*      height: 2rem;
    line-height: 1.8rem;
    padding: 2rem 2rem; */
    background: none;
    box-sizing: border-box;
    border: none;
    font-family: "微软雅黑";
}
.login input::-webkit-input-placeholder { /* WebKit browsers */ 
color: #f01a4c; 
} 
.login input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
color: #f01a4c; 
} 
.login input::-moz-placeholder { /* Mozilla Firefox 19+ */ 
color: #f01a4c; 
} 
.login input:-ms-input-placeholder { /* Internet Explorer 10+ */ 
color: #f01a4c; 
} 
.login input:-webkit-autofill {
box-shadow: 0 0 0px 1000px rgba(255, 255, 255, .8) inset !important;
border:none !important;
}
#clubRegister  .login input[type="text"],#clubRegister .login input[type="password"],#clubRegister .login-user input[type="text"]
{
   font-size:1.6rem;
    margin:0 1% 0 1%;
    border:0;
    color:#f01a4c
    width:98%;
}
.pwd{
  background:none;
  border:none;
    color:#7ecdfe;
    font-size:1.4rem;
    text-decoration: underline;
    display:block;
    width:85%;
    text-align: center;
    margin:18px auto 0;
}
.input-pin{ width:40% !important;}
.btn-no-pin{
    display:block;
    color:#7ecdfe;
    font-size:1.4rem;
    text-align:right;
    width:96%;
    margin-top:2%;
    background: none;
    border: none;
}
.agreement{
    width: 24rem;
    margin:1rem auto;
    font-size:1.4rem;
    clear:both
}
.mt{
  margin-top: 2rem;
}
.agreement span{color:#f01a4c;vertical-align: top;}
.agreement a{color:#ec2634;vertical-align: top;}

.no-register-info{font-size:1.6rem;color:#666;text-align:center;margin-top:2%;}
.register-success-info{text-align:center;color:#f64840;font-size:2.6rem;}
.btns-info{text-align:center;margin-top:2%;font-size:1.6rem;}

.button{
    text-align:center;
    height:45px;
    line-height:45px;
    width:85%;
    border-radius:6px;
    font-size:1.8rem;
    color:#fff;
}
.btn-login{margin:40px auto 0; display:block;}
.btn-red{background-color:#F64840;margin:10px auto 0; height: 40px;font-size: 1.6rem;}
.btn-grey{background-color: #DEDEDE;color:#333;}
.btn-next{
margin:2rem auto 0; display:block;
width:80%;
height:5.3rem;
background:url(../images/registerBtn.png) no-repeat center;
background-size: 100% 100%;
padding:0;

}
.btn-open,.btn-no-open{margin:12px auto 0; display:block;}

.btn-next:link,.btn-next:active,.btn-next:hover,.btn-next:visited,.btn-login:link,.btn-login:active,.btn-login:hover,.btn-login:visited,
.btn-open:link,.btn-open:active,.btn-open:hover,.btn-open:visited
{
    color:#fff
}
.btn-no-open:link,.btn-no-open:active,.btn-no-open:hover,.btn-no-open:visited{color:#333;}
.btn-middle{display:inline-block;width:30%;}
@media screen  and (max-width: 320px) {
   .login, .login input[type="text"],.login-user input[type="text"]
    {
       font-size:1.4rem;
    }
    .no-register-info,.btns-info{font-size:1.4rem;}
    .register-success-info{font-size:2.4rem;}
    .mt{
    margin-top: 0.7rem;
    }
}
.input-clear{
   float: right;
   margin:1rem 1rem 0.5rem 0;
   width:7%;
   display:none;
  
}

#christmas1 .close1{ position:absolute; right:7%; top:20%;z-index:999;  background:url(../images/closeIndex.png) no-repeat;width:42px; height:42px;opacity:1;border:none;}
.christmas{position:absolute;left:2%;top:3%;}

/*�°���ҳ�İ�start*/
#toper{position:fixed;padding:0 10px;width:100%;height:5.6rem;z-index:999;background:#000;}
.topImageL{float:left;MARGIN-TOP:1REM;max-width:none;width:4rem;}
#toper div{float:left;margin:1rem 0 0 1rem;line-height:1.8rem;font-size:1.2rem;color:#fff;}
#toper span{float:right;MARGIN-TOP:2REM;}
.register_top{padding-top:6rem;height:6rem;line-height:6rem;background:#fff;}
.register_top img{float:left;margin:1.6rem 0 0 1rem;}
.activetyBannner{background:#fff;}
.register_top span{float:right;margin:0 1rem 0 0;}
.login #c{float:left;margin-right:0;width:50%;}
.login #getc{
    float: left;
    width: 50%;
    height: 2rem;
    color: #ec2634;
    margin-top: 1rem;
    line-height: 2rem;
    border-left: 1px solid #f01a4c;
    box-sizing: border-box;
    border-radius: 0 !important;
}
.login #getc:hover{color:#ec2634;}
.activetyTitle{padding:2rem 0 2rem 0;}
.financeProject{padding:2rem;margin:0 1.8rem 0 1.8rem;border:3px solid #F33C36;}
.financeProject p{text-align:center;}
.activetyTitle3{padding-bottom:1.2rem;font-size:2rem;font-weight:bold;color:#8B5718;text-align:center;border-bottom:2px dashed #8B572A;}
.financeProject1{margin-top:2rem;line-height:34px;font-size:4rem;color:#FF5555;}
.financeProject1 span{font-size:1.6rem;color:#8B572A;}
.financeProject2{margin-top:2rem;color:#9B9B9B;}
.financeProject2 span{padding:6px 0 6px 32px;font-size:1.1rem;background: url(../images/tips.png) left no-repeat;display: inline-block;}
.appdownList li{margin-bottom:2rem;text-align:center;}
.appdownList{clear:both;}
.appdownList strong{margin:0 0 1rem 0;font-size:1.4rem;display:inline-block;color:#94633A;}
.appdownList p{line-height:26px;font-size:1.2rem;color:#94633A;}
.appdownList img{width:10rem;}

/*5.2*/
.toRight {
  background:#fcebdf;
}
.productAdvantage{
	padding:3rem 1rem;
	width:100%;
	box-sizing:border-box;
	
}
.regbg{
	border:5px solid #fb89a2;
	border-radius:5px;
	width: 100%;
    -webkit-box-shadow:3px 3px 9px #e3b897;  
  	-moz-box-shadow:3px 3px 9px #e3b897;  
  	box-shadow:3px 3px 9px #e3b897;
	padding: 1.6rem 0;
	background:#fff;
}
.regbgRepeat{
	width: 100%;
    padding: 0 1.5rem;
}
.regbgRepeat>p{
	line-height: 2rem;
    font-size: 1rem;
    color: #4b4b4b;
}
.regbgRepeat>p span{
	display:inline-block;
	width:1.1rem;
	height:1.1rem;
	text-align:center;
	line-height:1.1rem;
	margin-right:1rem;
	color:#fff;
	border-radius: 50%;
	background-image: -webkit-linear-gradient(to right, #fc6486, #f01a4c);
    background-image: linear-gradient(to right,#fc6486, #f01a4c);
}
.regbgRepeat div{
	width: 50%;
    text-align: center;
}
.regbgRepeat div:nth-child(1),.regbgRepeat div:nth-child(2){
	border-bottom:1px dashed #fee4c3;
}
.regbgRepeat div:nth-child(2n-1){
	border-right:1px dashed #fee4c3;
	
}
.regbgRepeat div p:nth-child(1){
	font-size:1.3rem;
	color:#333;
	line-height:3.2rem;
}
.regbgRepeat div p:nth-child(2){
	font-size:1.8rem;
	color:#ee2e3c;
	line-height:4rem;
}
.regbgRepeat div p:nth-child(2) b{
	font-size:3.6rem;
}
.regbgRepeat div p:nth-child(3){
	font-size:1rem;
	color:#666666;
}
.regbgRepeat div p input{
	width: 7.2rem;
	height:2.5rem;
	line-height:2.5rem;
    background: url(../images/reg4.png) center center;
    background-size: 100%;
    text-align:center;
    font-size:1rem;
    color:#fff;
    font-family: "微软雅黑";
    margin:1.5rem 0;
    border:none;
}
.regbgRepeat div.ptys{
	width:100%;
	border-bottom:1px dashed #fee4c3;
	border-right:none;
	text-align:left;
	padding-top:1rem;
}
.regbgRepeat div.ptys:first-child{
	padding-top:0;
}
.regbgRepeat div.ptys:last-child{
	border-bottom:none;
}
.regbgRepeat div.ptys h3{
	font-size:1.8rem;
	color:#333;
	line-height:2rem;
	padding-left:2rem;
	background: url(../images/reg3.png) left 0.5rem no-repeat;
	background-size: 1.3rem 1.3rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
}
.regbgRepeat div.ptys p{
	font-size:1.1rem;
	color:#333;
	padding-left:2rem;
	line-height: 1.5rem;
	padding-bottom:1.3rem;
}
.regbgRepeat div.ptys:last-child p{
	padding-bottom: 0;
}
.squaredTwo{
	width: 1.5rem;
    height: 1.5rem;
    position: relative;
    display: inline-block;
    background: #ee2e3c;
    border-radius: 5px;
    margin-top: 3px;
}
.squaredTwo input[type=checkbox] {
    visibility: hidden;
}
.squaredTwo label {
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
    position: absolute;
    left: 0.1rem;
    top: 0.1rem;
    border-radius: 4px;
    background: #fcebdf;
}
.squaredTwo.bg label{
	background: #ee2e3c;
}
.squaredTwo label:after {
    content: '';
    width: 1rem;
    height: 0.6rem;
    position: absolute;
    top: 2px;
    left: 2px;
    border: 1px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.squaredTwo.bg label:after {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    border: 1px solid #fff;
    background: #ee2e3c;
        border-top: none;
    border-right: none;
}
footer{
	padding-bottom:3rem;
}
footer div.regtel{
	height:3rem;
	line-height:3rem;
	width:100%;
	text-align:center;
	font-size:1.1rem;
	color:#f12559;
	background:rgba(241,36,87,0.16);
  	margin-bottom:1.5rem;
}
footer div.regtel a{
	color:#f12559;
}
footer p{
	text-align:center;
	line-height:1.6rem;
	color:#f12559;
	font-size:1.1rem;
}
footer p span:first-child{
	padding-right:3rem;
}