.btips { line-height: 300%; border-top: 1px solid #4c4b4b; }
.downloading { background-color: #333; color: #fff; padding: 0 15px; text-align: center; }
.close { color: #fff; margin-top: 7px; }
body, html { background-color: #ebebeb; overflow-y: hidden; overflow-x: hidden }
.mp0 { margin: 0; padding: 0; }
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.ml20 { margin-left: 20px; }
.mb20 { margin-bottom: 20px; }
.pl10 { padding-left: 10px; }
.w25 { width: 25% }
.w30 { width: 30% }
.w70 { width: 70% }
.lh200 { line-height: 200% }
.lh300 { line-height: 300% }
.lh500 { line-height: 500% }
.pr { position: relative; }
.pa { position: absolute; }
.t-ajus { text-align: justify; text-justify: inter-ideograph; }
.advbox { padding: 15px; margin-top: 30px; border-radius: 8px; background-color: #fff; border: 1px solid #a4a4a4 }
.readall { border-top: 1px solid #eff1f3; padding-top: 15px; }
.readall .d-img, .table-card>tbody>tr>td>.d-img, .d-img { background: url(../images/detaile.png) no-repeat; display: inline-block; width: 12px; height: 20px; }
.pc-direction .d-img { margin: 20px 8px 0 0; }
.text-muted2 { color: #ddd }
.text-muted9 { color: #666 }
.tab { border: 1px solid #df2d2f; background-color: #fff; line-height: 220%; margin: 10px 0 0 0 }
.tab .tab1 { text-align: center; color: #df2d2f; padding: 0; }
.tab .tabactive { background-color: #df2d2f; color: #fff }
.tab .tab-bod { border-right: 1px solid #df2d2f }
.licai-box { background-color: #fff; padding: 0 2% 1px; }
.licai-box h4 { color: #333; padding: 2% 0; }
.licai-box .text-primary { color: #73CAFF }
.lc-list, .lc-list .lc01 { margin: 0; padding: 0; }
.lc-list .lc01 .st01 { font-size: 2rem; }
.pc-list .pc01 { border-right: 1px solid #eff1f3 }
.progress-b { position: relative; margin: 10px 0 20px; width: 90%; }
.progress-b, .green-scoll { background-color: #e8e9ec; height: 4px; border-radius: 4px; }
.green-scoll { border-radius: 4px 0 0 4px; width: 50%; background-color: #81c96f; }
.green-point { width: 24px; height: 24px; line-height: 24px; text-align: center; border-radius: 24px; display: block; background-color: #81c96f; color: #fff; position: absolute; left: 50%; top: -9px; font-size: 1rem; }
.progress-b, .grey-scoll { background-color: #e8e9ec; height: 4px; border-radius: 4px; }
.grey-scoll { border-radius: 4px 0 0 4px; width: 50%; background-color: #aaa; }
.grey-point { width: 24px; height: 24px; line-height: 24px; text-align: center; border-radius: 24px; display: block; background-color: #aaa; color: #fff; position: absolute; left: 50%; top: -9px; font-size: 1rem; }
.table { margin-bottom: 0; border: none; }
.btn-primary { background: #5fbcff; border: 1px solid #5fbcff; }
.btn-warning { background: #aaa; border: 1px solid #aaa; }
.table-card>tbody>tr>td { vertical-align: middle; }
.add-card { font-size: 2rem; padding-right: 6px; }
.pc-img-show { padding: 10px 0; }
.pc-img-show .img-responsive { border-radius: 6px; }
.pc-p-info { padding: 10px 0 0; line-height: 200%; }
.logo-login { background-color: #fff; padding: 6px 15px 4px; }
.coupon-list { margin-top: -26%; }
.coupon-list { padding-left: 6%; }
.coupon-list h1 { margin-top: 12px }
.coupon-list h1 span.rmb { font-size: 2rem; }
.error_info { width: 100%; color: red; text-align: center; margin-top: 10px }
div.div-hidden { display: none }
div.div-show { dipslay: block }

 
