@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?mjl6jx');
	src:url('fonts/icomoon.eot?#iefixmjl6jx') format('embedded-opentype'),
url('fonts/icomoon.woff?mjl6jx') format('woff'),
url('fonts/icomoon.ttf?mjl6jx') format('truetype'),
url('fonts/icomoon.svg?mjl6jx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-zhong:before {
	content: "\e600";
}
.icon-zd:before {
	content: "\e601";
}
.icon-ying:before {
	content: "\e602";
}
.icon-wlan:before {
	content: "\e603";
}
.icon-wan:before {
	content: "\e604";
}
.icon-update:before {
	content: "\e605";
}
.icon-sysstate:before {
	content: "\e606";
}
.icon-sysset:before {
	content: "\e607";
}
.icon-sysinfo:before {
	content: "\e608";
}
.icon-per:before {
	content: "\e609";
}
.icon-lx:before {
	content: "\e60a";
}
.icon-down:before {
	content: "\e60b";
}
.icon-del:before {
	content: "\e60c";
}
.icon-back:before {
	content: "\e60d";
}
