/*201700823 娴滎兛绗閸椻�炽亣閺�楣冿拷渚婃嫹byguocunjuan*/
.title{margin:3rem 0 3rem 0;}
.bring,.getWaysImg{padding:1.5rem;}
.login{color:#333333 !important;}
.login input{color:#333333 !important;}
.btn-next{background:url(image/filmBtn.png) no-repeat center;background-size:100% 100%;}
footer{margin-top:1.8rem !important;font-size:1.6rem !important;}